{% extends 'homeLayout.twig' %}

{% block title %}
<title> Changer son mot de passe</title>
{% endblock %}


{% block nav %}

{{include("navbar.html.twig") }}

{% endblock %}

{% block sectionIntro %}
<h1 class="main intro">

    Changer votre mot de passe</h1>

{% endblock %}


{% block admin %}
<div class="container">
    <form action="index.php?action=changePassword" class="main col-xs-offset-2 col-xs-8" id="connexionForm"
        method="POST">

        <label for="username">
            Entrer votre identifiant :
        </label>
        <input class="form-control" id="username" name="username" required="required" type="text">

        <label for="oldPassword">
            Ancien mot de passe :
        </label>
        <input class="form-control" name="oldPassword" required="required" type="password">

        <label for="newPassword">
            Nouveau mot de passe :
        </label>
        <input class="form-control" name="newPassword" required="required" type="password">

        <input class="btn btn-secondary" id="validate" type="submit" value="Valider">

    </form>
</div>

{% endblock %}