{% extends 'homeLayout.twig' %}

{% block title %}
<title> Erreur de connexion</title>
{% endblock %}

{% block admin %}

<p class="main text-center"> Mauvais identifiant ou mot de passe incorrect <br>

    <a class="btn btn-secondary" href="index.php?action=accesChangePassword"> Réessayer</a> <br>
</p>

{% endblock %}
