<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>

        <link href="public/css/style.css" rel="stylesheet"/> {% block title %}{% endblock %}

        </head>
        <body>
            {% block header %}
                {% block nav %}{% endblock %}
            {% endblock %}

            {% block post %}{% endblock %}
            {% block comment %}{% endblock %}
            {# <footer>Site etudiant pour la realisation d'un projet dans le cadre de la formation DWJ d'Openclassroom</footer> #}
        </body>
    </html>
</body>
