{% extends 'homeLayout.twig' %}
{% block title %}{% endblock %}

{% block header %}

    {% block nav %}

        {{include("navbar.html.twig") }}

    {% endblock %}

    <h1>
        Bienvenue dans votre espace Administrateur
    </h1>

{% endblock %}

{% block post %}

    <a href="index.php?action=writePostAcces">
        Ecrire un article</a>

{% endblock %}

{% block comment %}

    <a href="index.php?action=moderateComment">
        Moderer commentaires
    </a>

{% endblock %}
