{% extends 'homeLayout.twig' %}
{% block title %}{% endblock %}


{% block nav %}

    {{include("navbar.html.twig") }}

{% endblock %}


{% block sectionIntro %}

    <h1>Espace Administrateur</h1>

{% endblock %}


{% block admin %}
    <div class="row">
        <div class="accesAdmin col-md-4 justify-content-center">

            <a href="index.php?action=writePostAcces">
                Ecrire un article</a>
        </div>

        <div class="accesAdmin offset-md-2 col-md-4 justify-content-center">

            <a href="index.php?action=moderateComment">
                Modérer commentaires
            </a>
            {% if nbCommentFlagged %}
                <p>
                    Vous avez
                    {{nbCommentFlagged}}
                    commentaire(s) à modérer</p>
            {% else %}
                <p>
                    Vous n'avez aucun commentaire à modérer</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
