<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>

        <link href="public/css/style.css" rel="stylesheet"/>

        <script src="vendor/tinymce/tinymce/tinymce.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">

        <script>
            tinymce.init({
                selector: 'textarea#content',
                language: 'fr',
                menubar: false,
                width: 800,
                height: 1000,
                toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                entity_encoding: 'raw'
            });
        </script>
        {% block title %}{% endblock %}

    </head>
    <body>
        <header>

            <nav class="navbar navbar-inverse">

                <div class="container-fluid"> {% block nav %}{% endblock %}
                    </div>
                </nav>

            </header>
            <section class="intro"> {% block sectionIntro %}{% endblock %}
                </section>

                <section class="main">
                    <article class="posts"> {% block post %}{% endblock %}
                        </article>
                        <div class="formComment"> {% block form %}{% endblock %}
                            </div>


                            <div id="comments"> {% block comment %}{% endblock %}
                                </div>
                            </section>
                            <div class="admin"> {% block admin %}{% endblock %}
                                </div>

                                {% block pagination %}{% endblock %}

                                <footer>
                                    Site etudiant pour la realisation d'un projet dans le cadre de la formation DWJ d'Openclassroom</footer>

                                {% block script %}{% endblock %}

                            </body>
                        </html>
