<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>

        <link href="public/css/style.css" rel="stylesheet"/>
        <title>Blog d'un ecrivain</title>
    </head>

    <body>

        {% block header %}
            <h1>
                Bienvenue dans votre espace Administrateur
            </h1>
            {% block nav %}
                <nav>
                    <ul>
                        <li><a href="index.php?action=connexion">Mon profil</a></li>
                        <li><a href="index.php?action=writePostAcces">Ecrire un article</a></li>
                        <li><a href="index.php?action=moderateComment">Moderer commentaires</a></li>
                        <li><a href="index.php?action=logout">Se deconnecter</a></li>
                    </ul>
                </nav>

            {% endblock %}
        {% endblock %}

        {% block writePosts %}

            <a href="index.php?action=writePostAcces">
                Ecrire un article</a>

        {% endblock %}

        {% block moderateComment %}

            <a href="index.php?action=moderateComment">
                Moderer commentaires
            </a>

        {% endblock %}


        {# <footer>Site etudiant pour la realisation d'un projet dans le cadre de la formation DWJ d'Openclassroom</footer> #}
    </body>
</html>
