{% extends 'homeLayout.twig' %}
{% block title %}{% endblock %}

{% block header %}
    {% block nav %}

        {{include("navbar.html.twig") }}

    {% endblock %}
    <h1>
        Ecrire un nouveau chapitre
    </h1>

{% endblock %}

{% block post %}


    <form action='index.php?action=writePost' method="post">
        <h2>
            Titre de votre chapitre
        </h2>
        <textarea name="title"></textarea>
        <h2>
            Contenu de votre chapitre
        </h2>
        <textarea id="content" name="content"></textarea>
        <input type="submit"></body>
{% endblock %}
