<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>

        <link href="public/css/style.css" rel="stylesheet"/>
        <title>Blog d'un ecrivain</title>
    </head>
    <body>
        {% block header %}

    {% endblock %}
    <div id='posts'>
        {% block post %}
    {% endblock %}
    <div class='comments'>
        {% block comment %}
    {% endblock %}
</div>
<footer>Site etudiant pour la realisation d'un projet de le cadre de la formation DWJ d'Openclassroom</footer></body></html>
