/* font-family */


body {
    background-image: url("../images/photoAlaska2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    color: #272F28;
    background-color: #C2CBD0;
    border: solid 1px#3A82C6;
    border-radius: 0.3em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.intro {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 15px;
    padding-bottom: 10px;
}

.comment {
    padding: 5px;
    margin-top: 10px;
}

.flag {
    border: solid, red;
    box-shadow: 1px;
    display: block;
}

.flagged {
    color: red;
    font-style: italic;
    font-size: 0.8em;
}

.postTitle {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0px;
    text-align: center;
    padding: 1%;

}

.postTitle a,
.postTitle a:visited,
.postTitle a:active,
.postTitle a:hover {
    text-decoration: none;
}

.date {
    text-align: center;
    padding: 0.5em;
}

.post {
    padding: 2%;
}

.admin {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.accesAdmin {
    height: 80px;
    padding-top: 1em;
}

.main a,
.main a:visited,
.main a:hover {
    text-decoration: none;
    font-size: 1.5em;
}


h2 {
    padding: 2%;
    text-align: center;
    width: 50%;
    margin: auto;
}

h4 {
    width: 80%;
    margin: auto;
}

form {
    width: 50%;
    margin: auto;
    padding: 2%;
    text-align: center;
}


.formComment textarea {
    width: 80%;
    height: auto;
    margin-bottom: 10px;

}

.formComment input {
    width: 80%;
    height: auto;
}

.modifChap {
    line-height: 10px;
}

.content {
    width: 100%;
    max-height: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: linear-gradient(transparent 300px, #272F28);
    margin-bottom: 20px;
}

.toBeContinued {
    margin: 10px;
}

#writePost {
    width: 80%;
}

#titleForm {
    width: 80%;
}

.tox {
    margin-bottom: 30px;
}

