

.intro {
    text-align: center;
    margin: auto;
    padding-top: 15vh;
}


.postTitle {
    border: solid;
    background-color: green;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0px;
    color: black;
    text-align: center;
    padding: 1%;
    border-radius: 0.2em;
}

.date {
    text-align: center;
}

.post p {
    background-color: white;
}

.post {

    border: solid 1px grey;
    padding: 2%;

}